<div class="card w-75 mx-auto my-3">
    <div class="card-header h4">
      Question
    </div>
    <div class="card-block">
      <%= @question.content %>
    </div>
</div>

<div class="w-75 my-3 mx-auto">
    <h1>New Answer</h1>

    <%= render 'form', answer: @answer %>
    <br />
    <%= link_to 'Back', answers_path %>
</div>
