
<h1>About Us</h1>
<h2>Quora Clone</h2>
<ul>
    <li>Post Questions</li>
    <li>Answer Questions</li>
    <li>Like Questions</li>
</ul>
<h2>About Me, Nate</h2>
<ul>
    <li>Apple User</li>
    <li>From Ontario, Canada</li>
    <li>OneMonth Rails is my 4th Premium Course</li>
</ul>
