<div class="container">

    <h1>Contact Us</h1>

    <ul>
        <li>Github: <%= link_to 'n-hare', 'https://github.com/n-hare', target:'_blank' %></li>
        <li>Product Hunt: <%= link_to 'nate_hare', 'https://www.producthunt.com/@nate_hare', target:'_blank' %></li> 
        <li>Twitter: <%= link_to 'nate_hare', 'https://twitter.com/nate_hare', target:'_blank' %></li>
    </ul>

    <h2>About Me, Nate</h2>
    <ul>
        <li>Apple User</li>
        <li>From Ontario, Canada</li>
        <li>OneMonth Rails is my 4th Premium Course</li>
    </ul>

</div> <!-- div container end -->
