
<div class="text-center">
    <%= image_tag 'https://media.giphy.com/media/qF3loRbiqLT44/giphy.gif' %>
    <h1>Hello, Bonjour, Hola</h1>
    <p class='lead'>This app is a work in progress&#8230;</p>
</div>