// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home, footer {
    background-color: white;

}

.new_user{
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
}

h1, .h1{
    padding-top: 3rem;
}

h2, .h2{
    padding-top: 1.75rem;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
}

a.nav-link:hover{
    color:#84b154 !important;
} 

a.btn{
    color: #fdfdfd !important;
}

#main {
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}
.card-footer{
    background-color: rgba(253,253,253, .25);

}
.content-flex{
    display: flex;
    justify-content: space-between; 
    align-content: baseline;
}

.like-star{
    display: inline-block;
    color: #fccd02;
    transition: all 0.5s ease-out; 
}

.like-star:link, .like-star:visited, .unlike-star:link, .unlike-star:visited{
    text-decoration: none;
} 
.like-star:hover{
    color: #45b649;
    text-decoration: none;
    transform: scale(2, 2);
}
.unlike-star{
    display: inline-block;
    color: #45b649;
    transition: all 0.5s ease-out; 
}
.unlike-star:hover{
    color: #fccd02;
    text-decoration: none;
    transform: scale(2, 2);
}


